<!-- Botão fixo no canto inferior direito -->
<button mat-fab color="primary" class="chat-button" (click)="toggleChat()">
    Chat
</button>

<!-- Caixa de chat -->
<div *ngIf="showChat" class="chat-box">
    <div class="chat-header">
        <span>Chats</span>
        <button mat-icon-button (click)="toggleChat()">X</button>
    </div>
    <div class="chat-body">
        <div readonly class="chat-messages">
            <p>
                {{ messages.join('\n') }}
            </p>
        </div>
    </div>
    <div class="chat-footer">
        <input [(ngModel)]="newMessage" placeholder="Digite sua mensagem..." (keydown.enter)="sendMessage()" />

        <button mat-icon-button color="primary" type="submit"
            (click)="isMessageEmpty() ? startVoiceRecognition() : sendMessage()">
            <mat-icon>{{ isMessageEmpty() ? 'mic' : 'send' }}</mat-icon>
        </button>
    </div>
</div>